@model WebServiceApplication.Models.StatusTasksEmployee

@{
    ViewBag.Title = "Delete";
}

<p>
</p>
<h3>Вы действительно хотите статус задачи?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StatusTask)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusTask)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-outline-danger" />
            <a href="/StatusTasksEmployees/Index" class="btn btn-outline-primary">Вернуться</a>
        </div>
    }
</div>
