@{
    ViewBag.Title = "Home Page";
}

<p></p>

<div class="row">
    <div class="col">
        <div class="card">
            <img src="/images/Description.png" class="card-img-top" width="200" height="170" alt="...">
            <div class="card-body">
                <h5 class="card-title">Описание</h5>
                <p class="card-text">Предназначение данного стенда.</p>
                <a href="/Employees/Index" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/images/Help.png" class="card-img-top" width="200" height="170" alt="...">
            <div class="card-body">
                <h5 class="card-title">Помощь</h5>
                <p class="card-text">Предназначение данного стенда.</p>
                <a href="#" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/images/About.png" class="card-img-top" width="200" height="170" alt="...">
            <div class="card-body">
                <h5 class="card-title">О Нас</h5>
                <p class="card-text">Предназначение данного стенда.</p>
                <a href="#" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
</div>
