@*<div class="container">*@
@{
    ViewBag.Title = "Home Page";
}

<br>
<h2 class="text-center">Модели данных</h2>
<br>

<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h3>Методы</h3>
                <span class="badge badge-primary badge-pill">5</span>
            </li>
            <a class="list-group-item list-group-item-action active" id="list-Authorization-list" data-toggle="list" href="#list-Authorization" role="tab" aria-controls="Authorization">1. Authorization</a>
            <a class="list-group-item list-group-item-action" id="list-GetTasksToEmployee-list" data-toggle="list" href="#list-GetTasksToEmployee" role="tab" aria-controls="GetTasksToEmployee">2. GetTasksToEmployee</a>
            <a class="list-group-item list-group-item-action" id="list-AddTasksToEmployee-list" data-toggle="list" href="#list-AddTasksToEmployee" role="tab" aria-controls="AddTasksToEmployee">3. AddTasksToEmployee</a>
            <a class="list-group-item list-group-item-action" id="list-UpdateEmployee-list" data-toggle="list" href="#list-UpdateEmployee" role="tab" aria-controls="UpdateEmployee">4. UpdateEmployee</a>
            <a class="list-group-item list-group-item-action" id="list-AddPositionListForEmployeeJson-list" data-toggle="list" href="#list-AddPositionListForEmployeeJson" role="tab" aria-controls="AddPositionListForEmployeeJson">5. AddPositionListForEmployeeJson</a>

        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-Authorization" role="tabpanel" aria-labelledby="list-Authorization-list">
                <table class="table text-center">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Свойство
                            </th>
                            <th>
                                Тип
                            </th>
                            <th>
                                Обязательность заполнения
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            FirstName
                        </td>
                        <td>
                            Строка
                        </td>
                        <td>
                            Истина
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SecondName
                        </td>
                        <td>
                            Строка
                        </td>
                        <td>
                            Истина
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ThirdName
                        </td>
                        <td>
                            Строка
                        </td>
                        <td>
                            Истина
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Image
                        </td>
                        <td>
                            Строка Base64
                        </td>
                        <td>
                            Истина
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="list-GetTasksToEmployee" role="tabpanel" aria-labelledby="list-GetTasksToEmployee-list">
                <h3>Нет параметров</h3>
            </div>
            <div class="tab-pane fade" id="list-UpdateEmployee" role="tabpanel" aria-labelledby="list-UpdateEmployee-list">
                <table class="table text-center">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Свойство
                            </th>
                            <th>
                                Тип
                            </th>
                            <th>
                                Обязательность заполнения
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            IDEmployeе
                        </td>
                        <td>
                            Строка (UUID)
                        </td>
                        <td>
                            Истина
                        </td>
                    </tr>
                    <tr>
                        <td>
                            FirstName
                        </td>
                        <td>
                            Строка
                        </td>
                        <td>
                            Истина
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SecondName
                        </td>
                        <td>
                            Строка
                        </td>
                        <td>
                            Истина
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ThirdName
                        </td>
                        <td>
                            Строка
                        </td>
                        <td>
                            Истина
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Image
                        </td>
                        <td>
                            Строка Base64
                        </td>
                        <td>
                            Истина
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="list-AddPositionListForEmployeeJson" role="tabpanel" aria-labelledby="list-AddPositionListForEmployeeJson-list">
                json - { "IDEmployeе": "value", "PositionList": [ { "Period": "value", "Position": "value" } ] }
                <br>
                <table class="table text-center">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Свойство
                            </th>
                            <th>
                                Тип
                            </th>
                            <th>
                                Обязательность заполнения
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            IDEmployeе
                        </td>
                        <td>
                            Строка (UUID)
                        </td>
                        <td>
                            Истина
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PositionList
                        </td>
                        <td>
                            Массив
                        </td>
                        <td>
                            Истина
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Period
                        </td>
                        <td>
                            Строка(Дата в формате: День/Месяц/Год)
                        </td>
                        <td>
                            Истина
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Position
                        </td>
                        <td>
                            Число(0 - Базовый, 1 - Специалист, 2 - Эксперт, 3 - ЭкспертПлюс)
                        </td>
                        <td>
                            Истина
                        </td>
                    </tr>
                </table>

            </div>
            <div class="tab-pane fade" id="list-AddTasksToEmployee" role="tabpanel" aria-labelledby="list-AddTasksToEmployee-list">
                <table class="table text-center">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Свойство
                            </th>
                            <th>
                                Тип
                            </th>
                            <th>
                                Обязательность заполнения
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            IDEmployeе
                        </td>
                        <td>
                            Строка (UUID)
                        </td>
                        <td>
                            Истина
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

@*</div>*@
